.appearFormSection-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.appearFormSection-enter.appearFormSection-enter-active {
  opacity: 1;
}

.appearFormSection-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.appearFormSection-leave.appearFormSection-leave-active {
  opacity: 0.01;
}

.appearFormSection-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.appearFormSection-appear.appearFormSection-appear-active {
  opacity: 1;
}
